<h1><%= @product_model.name %></h1>

<div>
  <dl>
    <dt><%= ProductModel.human_attribute_name(:supplier_id)%>:</dt>
    <dd><%= @product_model.supplier.full_register %></dd>
  </dl>

  <dl>
    <dt><%= ProductModel.human_attribute_name(:sku)%>:</dt>
    <dd><%= @product_model.sku %></dd>
  </dl>

  <dl>
    <dt><%= ProductModel.human_attribute_name(:dimensions)%>:</dt>
    <dd><%= @product_model.full_dimensions%></dd>
  </dl>

  <dl>
    <dt><%= ProductModel.human_attribute_name(:weight)%>:</dt>
    <dd><%= @product_model.weight %>g</dd>
  </dl>


</div>
