
<section>
  <h2>Galpoes</h2>

  <div>
    <%= link_to('Cadastrar Galpao', new_warehouse_path )%>
  </div>
  <% @warehouses.each do |w|%>
    <h3><%= link_to(w.name, warehouse_path(w.id)) %></h3>
    <dl>
      <dt> Codígo:
      <dd><%= w.code %></dd>
      <dt> Cidade: </dt>
      <dd><%= w.city %></dd>
      <dt> Área: </dt>
      <dd><%= w.area%> m2</dd>
    </dl>
  <% end %>


  <% if @warehouses.empty? %>
    <p>Nao existem galpoes cadastrados</p>
  <% end %>
</section>
