<h1>Fornecedores</h1>

<% @suppliers.each do | s |%>
  <div>
    <dl>
      <dt>
       <strong><%= Supplier.model_name.human%>:</strong>
      </dt>
      <%= link_to(s.full_register) %>
      <%= link_to('Editar', edit_supplier_path(s.id))%>
    </dl>
  </div>
<% end %>

<div>
  <%= link_to('Cadastrar Fornecedor', new_supplier_path)%>
  <%= link_to('Voltar', root_path)%>
</div>
