<h1>Detalhes do Fornecedor <%= @supplier.brand_name %></h1>

<div>
  <dt><%= Supplier.human_attribute_name(:full_register)%>:</dt>
  <dd><%= @supplier.full_register %></dd>
  <dt><%= Supplier.human_attribute_name(:brand_name)%>:</dt>
  <dd><%= @supplier.brand_name %></dd>
  <dt><%= Supplier.human_attribute_name(:full_address)%>:</dt>
  <dd><%= @supplier.full_address %></dd>
  <dt><%= Supplier.human_attribute_name(:city)%>:</dt>
  <dd><%= @supplier.city %></dd>
  <dt><%= Supplier.human_attribute_name(:state)%>:</dt>
  <dd><%= @supplier.state %></dd>
  <dt><%= Supplier.human_attribute_name(:email)%>:</dt>
  <dd><%= @supplier.email %></dd>
</div>

<div>
  <%= link_to('Editar', edit_supplier_path(@supplier.id))%>
</div>
