<h1>Detalhes do Fornecedor <%= @supplier.brand_name %></h1>

<div>
  <dt>Nome Corporativo:</dt>
  <dd><%= @supplier.corporate_name %></dd>
  <dt>Nome Fantasia:</dt>
  <dd><%= @supplier.brand_name %></dd>
  <dt>Número de Registro:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt>Endereço Completo:</dt>
  <dd><%= @supplier.full_address %></dd>
  <dt>Cidade:</dt>
  <dd><%= @supplier.city %></dd>
  <dt>Estado:</dt>
  <dd><%= @supplier.state %></dd>
  <dt>Email:</dt>
  <dd><%= @supplier.email %></dd>
</div>

<div>
  <%= link_to('Editar', edit_supplier_path(@supplier.id))%>
</div>
