Detalhes de um Galpao
<h1>Galpao <%= @warehouse.code %></h1>
<div>
  <strong>Nome:</strong> <%= @warehouse.name %>
  <strong>Cidade:</strong> <%= @warehouse.city %>
  <strong>Area:</strong> <%= @warehouse.area  %>
  <strong>Endereco:</strong> <%= @warehouse.address %>
  <strong>CEP:</strong> <%= @warehouse.cep %>
  <strong>Descricao:</strong> <%= @warehouse.description %>
</div>

<%= link_to('Voltar', root_path)%>
