<h1>Galpao <%= @warehouse.code %></h1>
<div>
  <dt>Nome:</dt>
  <dd><%= @warehouse.name %></dd>
  <dt>Cidade:</dt>
  <dd><%= @warehouse.city %></dd>
  <dt>Area:</dt>
  <dd><%= @warehouse.area  %></dd>
  <dt>Endereco:</dt>
  <dd><%= @warehouse.address %></dd>
  <dt>CEP:</dt>
  <dd><%= @warehouse.cep %></dd>
  <dt>Descricao:</dt>
  <dd><%= @warehouse.description %></dd>
</div>
<%= link_to('Editar', edit_warehouse_path(@warehouse.id))%>
<%= link_to('Voltar', root_path)%>
